<div class="footer">
  <div class="container">
    <div class="row py-2 text-center">
      <a href="https://www.facebook.com/likelionSKU/" class="py-3"><img src="/assets/sku_logo.png" width="150"></a>
      <span class="text-muted py-1"><a href="https://www.facebook.com/likelionSKU/">성결대 멋쟁이사자처럼 페이스북 바로가기</a> </span>
      <span class="text-muted py-1">문의 <a href="sku@likelion.org">sku@likelion.org</a> </span>
      <span class="text-muted pt-1 pb-5">Copyrightⓒ2018 성결대 멋쟁이사자처럼 All rights reserved.</span>
    </div>
  </div>
</div>