<%= render "main" %>

<!--Ranking top 3-->
<%= render "top_rank" %>


<!--Ranking Table-->
<%= render "rank_table" %>

<div class="container">
  <a href="#"><h6 class="text-center">전체 랭킹 보기</h6></a>
</div>

<!--footer-->
<%= render "footer" %>