<!DOCTYPE html>
<html>
  <head>
    <title>I hate SKU</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!--CSS-->
    <link href="https://fonts.googleapis.com/css?family=Nanum+Brush+Script" rel="stylesheet">

    <!--font awesome-->
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">

    <!--모바일 사이즈-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
    <%= yield %>

    <!--Typing Animation-->
    <script>
        var datadump = $('.temp_information').data('temp');


        $(function() {
            $(".typed").typed({
                strings: [datadump[0].reason, datadump[1].reason,datadump[2].reason],
                typeSpeed: 150,
                loop: true
            });
        });

        //text-counter JS
        $(function() {
            $('#content').keyup(function (e){
                var content = $(this).val();
                $(this).height(((content.split('\n').length + 1) * 1.5) + 'em');
                $('#counter').html(content.length + '/14');
            });
            $('#content').keyup();
        });

    </script>
  </body>
</html>
